*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    .background-image{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(75, 73, 73, 0.893), rgba(255, 255, 255, 0.121)), url('../assets/medical-care.png');

    background-size: 100% 100%; 
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    }

    nav{
    width: 100%;
    height: 100px;
    background: transparent;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .logo img {
        margin-top: 14px;
        margin-left: 40px;
        width: 100px; 
        height: 100px;
        object-fit: contain;
        max-width: 100%;
        filter: drop-shadow(0 0 40px rgb(211, 80, 57)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
    }

    .nav-menu{
            width: 70%;
            height: 40%;
            padding-left:28px ;
            padding-top: 9px;
            background-color: rgba(238, 229, 229, 0.397);
            box-shadow: 0 0 25px 5px #0000003b;
            border-radius: 10px;
  
    }

    .menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    }

    .menu{
        width: 200%;
    }

    .menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%; 
    border-bottom: 2px solid rgb(235, 71, 71);
    transition: 0.4s linear;
    }

    .menu a:hover:before{
    width:90% ;
    }

    .register a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    background-color: indianred;
    transition: 0.4s linear;
    border-radius: 15px;
    }

    .register a:hover{
    background: transparent;
    border: 1px solid indianred;
    }

    .h-text{
    width: 650px;
    position:absolute;
    top:40%;
    margin-left: 10%;
    text-align: center;
    color: white;
    margin-top: 8%;
    }

    .h-text span{
    letter-spacing: 0px;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);

    }

    .h-text h1{
    letter-spacing: 0px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    margin-left: 0px;
    padding-left: 0px;
    }


    .register{
        margin-right: 70px;
    }

    span{
        font-size: 100px;
    }





















    .h-text {
        width: auto;  /* Allow it to take necessary space */
        max-width: 90%; /* Restrict width so it doesn't overflow */
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%); /* Centering properly */
        text-align: center;
        color: white;
    }
    
    .h-text span {
        font-size: 90px; /* Reduce font size for better alignment */
        display: block; /* Ensures it appears on the same line as much as possible */
    }
    
    .h-text h1 {
        font-size: 45px; /* Make it more prominent */
        white-space: nowrap; /* Prevents breaking into new lines */
        margin-top: 10px;
    }
    