*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    
    }
    
.background-image{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(75, 73, 73, 0.8),rgba(255, 255, 255, 0.2));
    font-family: 'Times New Roman', Times, serif;
}

nav{
    width: 100%;
    height: 100px;
    background: transparent;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    margin-top: 14px;
    margin-left: 120px;
    width: 100px;
    margin-right: 170px;
    height: 100px;
    object-fit: contain;
    max-width: 100%;
    filter: drop-shadow(0 0 40px rgb(211, 80, 57)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
}

.nav-menu{
    width: 38%;
    height: 40%;
    padding-left:28px ;
    padding-top: 9px;
    background-color: rgba(238, 229, 229, 0.397);
    box-shadow: 0 0 25px 5px #0000003b;
    border-radius: 10px;
    margin-inline-end: 170px;
    margin-left: 14px;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}

.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%; 
    border-bottom: 2px solid rgb(235, 71, 71);
    transition: 0.4s linear;
}

.menu a:hover:before{
    width:90% ;
}


.register a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    background-color: indianred;
    transition: 0.4s linear;
    border-radius: 15px;
    margin-left: 0px;
}

.register a:hover{
    background: transparent;
    border: 1px solid indianred;
}

.about{
    height: 100px;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: 50px;
    text-align: center;
    font-size: 35px;
}

.redbox {
    height: 100vh;
    width: 80%;
    border: 2px solid rgb(211, 80, 57) ;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 30px;
    margin-bottom: 8px;
    padding-bottom: 20rem;
}


.Mission{
    text-align:center;
    margin-left: 50px;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: rgb(211, 80, 57);
}

.Heart1{
    float: right;
    height: 300px;
    margin-top: 30px;
}

#Heart1 {
    float: right;
    height: 320px; 
    width: 320px; 
    border-radius: 50%; 
    shape-outside: circle(40%);
    clip-path: circle(50%); 
    margin: 20px; 
}

#p1 {
    font-size: 20px;
    line-height: 1.6; 
    text-align: justify; 
    margin-left: 30px;
}

.Vision{
    text-align:center;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 40px;
    color: rgb(211, 80, 57);
}

.Heart2{
    float: left;
    height: 300px;
}

#Heart2 {
    float: left;
    height: 280px; 
    width: 280px;
    border-radius: 50%;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    margin: 20px;
}

#p2 {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    margin-right: 30px;
    margin-top: 10px;
}

.Members{
    text-align:center;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 40px;
    color: rgb(211, 80, 57);
    display: flex;
    justify-content: center;
}


.members{
    display: flex;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.Photo{
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid rgb(211, 80, 57);
    border-radius: 10px;
    height: 250px;
    width: 217px;
}

.name{
    display: flex;
    height: 250px;
    padding-top: 10px;
    margin-left: 60px;
    margin-right: 30px;
    font-size: 20px;
}

.footer {
    position: relative;
    bottom: 0;
    top: 0;
    text-align: center;
    padding: 15px;
    background-color: indianred;
    color: white;
}

.name-section{
    justify-content: center;
    text-align: center;
}

span{
    font-size: 17px;
    text-align: justify;
}










#Heart1 {
    float: right;
    height: 320px; 
    width: 320px; 
    border-radius: 50%; 
    shape-outside: circle(50%);
    clip-path: circle(50%);
    margin: 20px; 
}




.name {
    display: flex;
    justify-content: center;  /* Centers the name and position horizontally */
    align-items: center;      /* Vertically aligns the items in the center */
    height: auto;             /* Ensures the container adjusts to the content height */
    margin-top: 10px;
}

.name {
    margin: 0 50px;           /* Adjust the margin to give some space between name and position */
    text-align: center;
    font-size: 18px;          /* Smaller font size to fit better */
}

.name-section{
    display: flex; 
    flex-wrap: wrap;
}

.redbox{
    min-height: 230%;
}



#navlenght{
    width: 500px;
}













